body{

background:#071952;
color:white;
font-family:sans-serif;
text-align:center;

}


.game{

width:380px;
max-width:95%;
margin:20px auto;

background:#0b2447;

padding:20px;

border-radius:20px;

box-shadow:0 0 15px black;

}


.status{

background:#19376d;

padding:15px;

border-radius:15px;

margin-bottom:15px;

}


.menu{

margin-bottom:20px;

}


button{

width:45%;

padding:12px;

margin:5px;

border:none;

border-radius:10px;

font-size:16px;

cursor:pointer;

background:white;

}


button:hover{

transform:scale(1.05);

}


#screen{

background:#16213e;

padding:15px;

border-radius:15px;

min-height:200px;

}


.card{

background:#19376d;

margin:10px;

padding:15px;

border-radius:15px;

}


.legend{

border:3px solid gold;

}


.s{

border:3px solid purple;

}


.a{

border:3px solid skyblue;

}


.normal{

border:3px solid gray;

}
